torch==2.5.1+cpu --find-links https://download.pytorch.org/whl/cpu/torch_stable.html
torchvision==0.20.1+cpu --find-links https://download.pytorch.org/whl/cpu/torch_stable.html
facenet-pytorch==2.6.0
grad-cam==1.5.5
flask==3.1.0
pillow==10.4.0
numpy==1.26.4
opencv-python-headless==4.9.0.80
tqdm==4.66.2
scikit-learn==1.4.2
ttach==0.0.3
werkzeug==3.0.3
packaging==24.0
gunicorn==21.2.0